<!-- Product section-->


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{biriyani.image}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{biriyani.category}}</div>
                <h1 class="display-5 fw-bolder">{{biriyani.name}}</h1>
                <div class="fs-5 mb-5">
                    <span class="">{{biriyani.price|currency:'INR'}}</span>
                </div>
                <p class="lead">quantity:{{biriyani.quantity}}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="cartAdd()">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>


                    <!-- modal-->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add your Review
                      </button>
              <button class="btn btn-outline-danger" href="#" routerLink="/products">Go back</button>

                      
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Add your Review</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="" [formGroup]="reviewForm" (ngSubmit)="addReview()" >
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Enter your Comment" formControlName="comment">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" placeholder="Enter your Rating" formControlName="rating">
                    
                                    </div>
                                    <button type="submit" class="btn btn-primary" href="#" routerLink="/products">Save changes
                                        </button>
                    
                                </form>
                            
                            </div>
                          
                          </div>
                        </div>
                      </div>
                    <!-- end modal-->
                     
                    



                </div>
            </div>
        </div>
    </div>
      </section>
<section class="py-5">
    <div class="row" *ngFor="let r of biriyani.reviews" style="margin-bottom: 20px;">
        <style>
            
            .list-group-item-user {
                background-color: #e6ece7;
                color: #333;
            }
            .list-group-item-comment {
                background-color: #fff;
            }
            .list-group-item-rating {
                background-color: #fff;
            }

            .list-group-item-user,
            .list-group-item-comment,
            .list-group-item-rating {
                transition: box-shadow 0.3s;
                font-family: bold;
                font-size: 16px;
                font-weight: bold;
                color: #333;
            }

            .list-group-item-user:hover,
            .list-group-item-comment:hover,
            .list-group-item-rating:hover {
                box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
            }
        </style>

        <div class="col-1"></div>
        <div class="col-10">
            <div class="card" style="width: 70%; background-color: #f2f2f2;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-user">Commented by an User: ({{ r.user }})</li>
                    <li class="list-group-item list-group-item-comment">{{ r.comment }}</li>
                    <li class="list-group-item list-group-item-rating">{{ r.rating }}</li>
                </ul>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</section>